nav.border-bottom {
  border-bottom: 1.5px solid #00f234 !important;
}

.App--logo {
  width: 180px;
  height: 53px;
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(0 0 2px rgb(11 234 0 / 0.75));
}

.link-success {
  color: #00f234;
}

.border-success {
  border-color: #00f234 !important;
}

.h1 {
  letter-spacing: -1px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
